.App {
  font-weight: bold;
}
.header{
  padding: 1vw;
  text-align: center;
  color: blanchedalmond;
  background-color: darkslategray;
}
input{
  width: 30vw;
  padding: 1vw;
  margin-left: 35%;
  font-size: 1.5vw;
  border-radius: 0.3vw;
  color: gray;
}
a{
  text-decoration: none;
}
#suggestion{
  color: darkslategray;
  text-align: left;
  padding: 1vw;
  margin-left: 35%;
  font-size: 1vw;
}